@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* def need to clean up code, too many duplicates? see whats better duplicating descriptor or duplicating selectors */

/*add box content box thingy*/

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* change and personalise this pls */
}

.header {
    /* check if <header or .header */
    /*padding: 10px 250px; can't have so much padding cause messes up flex boxes when shrunken*/
    /*padding: 10px 90px; /*edit this ir figure it out and have same padding for sign up*/
    display: flex;
    align-items: center;
    flex-flow: column;
    /*justify-content: ; /*why no work? kinda understand stretch = up and down and everything else but container has no space*/
}

.header, .footer {
    /* Don't forget to check here if <header or .header! same with footer */
    background-color: #1f2937;

}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;

}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
}

a, .title-subtext, .footer, .sub-text{
    font-size: 18px;
    color: #E5e7eb;
}

.header-content {
    display: flex;
}

.header-content, .sign-up-box, .top-bar {
    max-width: 870px;
}

.top-bar {
    display: flex;
    align-items: center;
    width: 100%;
}

img {
    height: auto;
    width: 450px;
}

.title {
    font-size: 48px;
    font-weight: 900;
}

.logo, .title, .sub-title, .main-text, button {
    color: #f9faf8;
}

.sub-title {
    font-size: 30px;
}

button {
    font-size: 16px;
    font-weight: bold;
    padding: 0px 25px; /*button is not going below a certain size for the sign up sheet button */
    border-radius: 8px;
}

.quote-section {
    background-color: #e5e7eb;
}

.sign-up-box {
    width: 100%;
    padding: 40px 80px;
    display: flex;
}

.sign-up-box, button {
    background-color: #3882F6;
}


.sign-up-container {
    display: flex;
    padding: 80px;
    justify-content: center;
    /*rounded corners here please*/
} /*use this (the text width and the spacing, to set max width!)*/

.sign-up-box button {
    margin-left: auto;
    border: 2px solid  #f9faf8;
}

.header-main-info button {
    border: transparent
}

.main-text {
    font-weight: bold;
    font-size: 23px;
}

.footer {
    padding: 30px;
    text-align: center;
}
