@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* def need to clean up code, too many duplicates? see whats better duplicating descriptor or duplicating selectors */

body {
    padding: 0;
    margin: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* change and personalise this pls */
}

.header {
    /* check if <header or .header */
    /*padding: 10px 250px; can't have so much padding cause messes up flex boxes when shrunken*/
    /*padding: 10px 90px; /*edit this ir figure it out and have same padding for sign up*/
    display: flex;
    align-items: center;
    flex-flow: column;
    /*justify-content: ; /*why no work? kinda understand stretch = up and down and everything else but container has no space*/
}

.header, .footer {
    /* Don't forget to check here if <header or .header! same with footer */
    background-color: #1f2937;

}

.logo {
    font-size: 24px;
    font-weight: bold;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
}

a, .title-subtext, .footer {
    font-size: 18px;
    color: #E5e7eb;
}

.header-content {
    display: flex;
}

.header-content, .sign-up-box, .top-bar {
    max-width: 880px;
}

.top-bar {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    margin-right: auto;
}

img {
    height: auto;
    width: 450px;
}

.title {
    font-size: 48px;
    font-weight: 900;
}

.logo, .title, .sub-title {
    color: #f9faf8;
}

.sub-title {
    font-size: 30px;
}

.quote-section {
    background-color: #e5e7eb;
}

.sign-up-box {
    background-color: #3882F6;
}

.footer {
    padding: 30px;
    text-align: center;
}
